.bg-light-blue{
    background-color: #E5E5E5;
}

.icon {
    width: 30px;
}

.rotate-logo {
    display: inline-block;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.rotate-logo img {
    display: block;
    position: absolute;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.btn-criptografar{
    background-color: #0A3871;
    color: white;
    height: 50px;
    width: 270px;
    left: 352px;
    top: 0px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.btn-descriptografar{
    background-color: #D8DFE8;
    color: #0A3871;
    height: 50px;
    width: 270px;
    left: 352px;
    top: 0px;
    border-radius: 20px;
    border: 1px solid #0A3871;
    
}

.box-shaddow{
    position: absolute;
    width: 350px;
    height: 525px;
    left: 1000px;
    top: 40px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 29px;
}

.input-position{
    position: relative;
    border: none;
    background-color: #E5E5E5;
    width: 680px;
    height: 350px;
    left: 240px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a387193;
    /*retiranto resize do texterea*/
    resize: none;

}

.input-position:focus{
    outline: none;
}

.massage-not-found{
    width: 336px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.enter-text{
    width: 336px;
    height: 48px;    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.left-position{
    left: 5rem;
}

.bg-footer-blue{
    background-color: ;
}

footer{
    padding: 15px;
        width: 100%;
        text-align: center;
        height: 50px;
        margin: auto;
        bottom: 0;
        position: fixed;
}
